{
  "extends": ["airbnb", "plugin:react/recommended"],
  "rules": {
    "react/jsx-filename-extension": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      },
      "alias": {
        "map": ["@", "./src"],
        "extensions": [".ts", ".js", ".jsx", ".json"]
      }
    }
  }
}
